.text1{
	position: relative;
	width:200px;
	height:20px;
	border:2px solid #000;
}
.text1:hover{
	
}

.text2{
	display:block;
	width:73%;
	height:100%;
	background:#5170ff75;
	left:0px;
}
.text2 a{
	position: absolute;
	color:red;
	left:45%;
}
.text5{
	box-shadow: -9px 0px 8px 8px #b94444;
	position: fixed;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 300px;
    z-index: 1050;
	width:320px;
	height:300px;
	border:2px solid #000;
	text-align:center;
}
.myflex{
	display:flex;
}
.flexbox{
	display:flex;
	flex-direction: column;
	justify-content:flex-end;
	align-items:flex-end;
	width:90%;
	height:90%;
}
.knopka{
	text-align:center;
	width:100px;
	height:20px;
	border:2px solid #000;
}
#chekmodal{
	display:none;
}
#chekmodal:checked+div.text5{
	display:none;
}