
.on-flex{
	display:flex;
}
.on-flex-cl{
	flex-direction:column;	
}
body{
	background:url("../img/backgrd.jpg");
}
header{
	width:100%;
	height:3em;
	background-color:#38343480;
	position: fixed;
	left: 0;
	top: 0;
}

.empty-block{
	width:100%;
	height:30px;
	z-index: -1000;
}
.empty-block2{
	width:100%;
	height:60px;
	z-index: -1000;
}
.navbar{
	flex:70%;
	align-items:center;
	justify-content:flex-end;
	width:100%;
}

.navbar-block{
	display:block;	
	padding:20px 20px 5px;
	margin:0px;
	cursor:pointer;
	height:100%;
	
}
.navbar-block-font{
	text-shadow: -2px 2px 6px black, 0 0 1em #e29191;
	font-family:cursive;
	font-weight:600;
	font-size:20px;
	color:white;
}
.xsoo-logo{
	flex:30%;
	text-align: center;
	position:relative;
	top:-13px;
	text-shadow: -2px 2px 6px black, 0 0 1em #e29191;
	font-weight:900;
	font-size:34px;
	color:#ffeb3b;
}
.xsoo-logo:hover{
	background-color:#73614587;
}
.navbar-block:hover{
	background-color:#73614587;
}

.middle-blck-img{
	cursor:pointer;
	margin: 10px 60px;
	flex-flow:wrap;
	align-items: flex-end;
}
.middle-blck-img-eq{
		margin:5px;
		flex:32%;
		width: 300px;
		height:100%;
}
.text-tools{
	flex:5%;
	color:yellow;
	-webkit-writing-mode: vertical-rl;
	writing-mode:tb-rl;
}
.eqpmnt-img{
	flex:80%;
}
/* НАЗВАНИЕ ОБОРУДОВАНИЕ, ТЕКСТ СНИЗУ КАРТИНКИ*/
.name-of-eqpmnt{
	color:white;
	text-align:center;
	font-weight: bold;
    font-size: 24px;
    margin: 0;
}
h5{
	background:url("../img/backgrd2.jpg");
	background-size: cover;
	opacity:0.8;
	font-weight:normal;
	padding: 5px 10px;
    margin: 10px 50px;
	text-align:justify;
	font-size:18px;
	line-height: 1.8;
	font-family: 'Libre Franklin', sans-serif;
	text-indent: 30px;
	color:#ffeb3b;
	text-shadow: 1px 1px 4px black, 0 0 4em black;	
}
h1{
	text-align:center;
	font-family: 'Libre Franklin', sans-serif;
	color:#ffeb3b;
}
h2{
	text-align:center;
	font-family: 'Libre Franklin', sans-serif;
	color:#ffeb3b;
}
.ftr-block{
	flex:49;
	padding:0;
    margin:0;
}
.ftr-block-mdl{
	background-color:#ffeb3b;
	width:1px;
	height:150px;
}
/*Для формы в футере классы*/
.input-larg{
	display:block;
	width:301px;
	box-sizing:border-box;	
	padding: 5px 5px;
	margin: 8px 0;
}
.input-larg-greenborder{
	outline:none;	
	border-style: none;
    border-bottom: 3px solid #8c7b75;
}
.input-sbm{
	padding:4px;
	margin-top: 10px;
	background:#ffeb3be6;
	border-style: none;
	border-radius: 45%;
    width: 155px;
	height:28px;
}
.label-in-form{
	display:block;
	font-family:initial ;
	font-size:x-large;
}


@media screen and (max-width: 800px) {
  .navbar {   
	position:relative;
	top:70px;
    flex-direction: column;
	align-items:flex-end;
  }
}
