body{
	width:100vw;
	height:100vh;
}
div{
	background-image:url("sun.png"),url("sea.jpg"),url("sky.jpg");
	background-repeat: no-repeat;
	background-size:10%,100%,100%;
	background-position:top right, bottom center, top center ;
	height:100%;
	margin:0;
}