body{
	width:100vw;
	height:100vh;
}
.container-flex-rw{
	display:flex;
	flex-flow:raw nowrap;
	
}
.container-flex-clmn{
	display:flex;
	flex-flow:column nowrap;
}
.box-high-100{
	display:flex;
	align-items:center;
	list-style-type: none;
	width:100px;
	height:300px;
}
.box-high-50{
	display:flex;
	align-items:center;
	height:50%;
}

img{
	display: block;
	margin: 0 auto;
	width:80%;
	height:80%;
}