form{
	width:vw;
	height:vh;
}
label{
	display:block;
	font-family:initial ;
	font-size:x-large;
}
.input-larg{
	display:block;
	width:500px;
	box-sizing:border-box;	
	padding: 12px 20px;
	margin: 8px 0;
}
.input-larg-greenborder{
	outline:none;	
	border-style: none;
    border-bottom: 6px solid green;
}
.input-sbm{
	padding:4px;
	margin-top: 25px;
	background:#60a963bf;
	border-style: none;
}
