.myflex{
	display:flex;
	flex-direction:column;
	width:100vh;
	height:100vw;
}
.myflex-clmn{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	width:33%;
	
}
.block{
	background:#00fff1;
	border:4px double #0037ff;
	width:150px;
	height:1em;
	text-align:center;
}
.block-tr{
	background:#00fff1;
	border:4px double #0037ff;
	height:1em;
	text-align:center;
}
.block-hiden{	
	display:none;
}
.block:hover+.txt-ru{
	display:block;
	background:white;
}
.txt-en{
	color:green;
}
.txt-ru{
	color:red;
}

#chk:checked~div{
	display:block;
}
