.in-center{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100vh;
	height:100vw;
	margin:0;
	padding:0;
}
span{
	background:#f7b72e;
	border-radius:100%;
	border:2px solid #f7b72e;
	padding: 5px 11px;
}
.tooltip{
	position:relative;
}
.tooltip:before,
.tooltip:after{
	position:absolute;
	content:"";	
	opacity:0;
}
.tooltip:before{
	border: 8px solid transparent;
	border-top: 8px solid green;
	top:-10px;
}
.tooltip:after{
	content:"TOOLTIP";
	text-align:center;
	color:white;
	font-size: 15px;
	font-weight: 300;
	padding: 5px;
	padding: 5px;
	border: 1px solid green;
	border-radius:6px;
	padding:5px;
	background:green;	
	width:80px;
	height:1em;
	top:-37px;
	left:-5px;
}
.tooltip:hover::before ,
.tooltip:hover::after{
	opacity:0.7;
}