header{ 
	font-size:124px;
	color:#ff009b;
	}
header {
	width:100px;
	}
form{
	width:350px;
	}
.grid {
	display: table;	
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 5px;
}
.grid-tr {
	 display: table-row;
}
.grid-td {
	display: table-cell;	
	width: 50%
	vertical-align: top;
	padding: 0;
}
.block_550{
	width:750px;
	margin: 10px;
	}
.block_350{
	width:350px;
	}	
.button_0{
	padding: 5px 20px;
	border: 1px solid #33c;
	border-radius: 7px;
	background-color: #00ff82;
	text-decoration: none;
	color: ##032b80;
	margin: 10px;
	}	
.button{
	padding: 5px 20px;
	border: 1px solid #33c;
	border-radius: 7px;
	background-color: #24e7d861;
	text-decoration: none;
	color: #33f;
	margin-bottom: 3px;
	}
.button2{
	padding: 5px 20px;
	border: 1px solid #33c;
	border-radius: 7px;
	background-color: #f7ff00;
	text-decoration: none;
	color: ##032b80;
	margin-bottom: 3px;
	}
.button3{
	padding: 5px 20px;
	border: 1px solid #33c;
	border-radius: 7px;
	background-color: #ffd800;
	text-decoration: none;
	color: ##032b80;
	margin: 10px;
	}	
.button4{
	padding: 5px 20px;
	border: 1px solid #33c;
	border-radius: 7px;
	background-color: #f7ff00;
	text-decoration: none;
	color: ##032b80;
	margin: 10px;
	}
.class_lab{
	width:100px;
	border:10px;
	height:130;
	padding: 5px 20px;
	margin-bottom: 10px;
	font-size: 120%; 
	font-family: Verdana; 
	color: #333366;
	margin: 10px;
	}
span{
	border:4px dashed #000;
	}