body{
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
input{
	width:20px;
	height:20px;
}
input:after{
	position:relative;
	content:"";
	left:-14px;
	right:0;
	bottom:0;
	top:-14px;
	display:block;
	width:40px;
	height:40px;
	margin:0;
	border:4px double transparent;
	border-radius:100%;
}
input:checked:after{
	border:4px double red;
}