.main-options{
  padding: 10px 0 0 20px;
}
.blck-shop-section{
  display: flex;
  flex-flow: row nowrap;
}
.button-shop-section{
  margin: 0 5px 5px;
  max-width: 250px;
  display: inline;
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
  border: 1px solid #e5e5e5;
  color: #000;
  padding: 3px 10px;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 42px;
}
.button-shop-section:hover{
    background: #f4f4f4;
}
.central-block-2columns{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  .central-block-2columns-left{
    display: flex;
    flex-direction: column;
    flex-basis: content;
    flex-basis: 20%;
    .a-text-plus {
      display: flex;
      justify-content: space-between;
      padding: 4px 0;
      color: #232323;
      font-family: Avenir Next;
      font-weight: 600;
      font-size: 13px;
      line-height: 1.5;
      font-weight: 400;
      text-decoration: none;
      border-bottom: 1px solid #e5e5e5;
    }
    .a-text-plus:after{
      content: "+";
      font-size: 18px;
      vertical-align: middle;
      display: inline-block;
      margin: 0 4px;
    }
    .a-text-plus:hover{
      color: red;
    }
  }
  .central-block-2columns-right{
      display: flex;
      flex-flow: row wrap;
      flex-basis: 80%;
      .object-card {
        display: flex;
        flex-direction: column;
        width: 33%;
        .cards-product {
          display: flex;
          flex-direction: column;
          text-decoration: none;

          p {
            font-family: Avenir Next;
            font-weight: 600;
            font-size: 14px;
            line-height: 1.5;
            margin-block-start: 0;
            margin-block-end: 0;
          }

          > div {
            margin: 10px 10px 0 10px;
          }

          .cards-product-block-first {
            position: relative;

            .cards-product-image {
              width: 100%;
            }

            .cards-product-under-image {
              position: absolute;
              bottom: 6px;
              padding: 10px;
            }
          }

          .cards-product-block-first:after {
            display: none;
            content: "QUICK SHOP";
            position: absolute;
            bottom: 10px;
            right: 1%;
            left: 1%;
            height: 20px;
            opacity: .4;
            color: black;
            padding: 10px;
            background: #9E9C9C;
            text-align: center;
          }

          .cards-product-block-first:hover:after {
            display: block;
          }

          .cards-product-block-bottom1 {
            display: flex;
            justify-content: space-between;

            p:nth-child(2) {
              color: red;
            }
          }

          .cards-product-block-bottom2 {
            display: flex;
            justify-content: space-between;

            p:nth-child(2) {
              text-decoration: line-through;
            }
          }
        }
        >p{
          margin: 0 10px 15px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.5;
          color: #707070;
          display: block;
          position: relative;
          overflow: hidden;
          width: 90%;
          max-height: 36px;
        }
        .card-product-checkboxes{
            display: flex;
            width: 100%;
            .card-product-checkboxes-block{
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              .card-product-checkboxes-block-with-circle{
                position: relative;
                cursor: pointer;
                border-radius: 50%;
                width: 16px;
                height: 16px;
              }
              .card-product-checkboxes-block-with-circle:hover{
                box-shadow: inset 0 0 0 5px #f4f4f4;
                width: 24px;
                height: 24px  ;
                display: inline-block;
                border: 1px solid red;
              }
            }
        }
      }
  }
  @media only screen and ( max-width: 1000px ){
    .central-block-2columns-left{
      display: none;
    }
    .central-block-2columns-right{
      flex-basis: 100%;
    }
  }
  @media only screen and ( max-width: 800px ){
    .central-block-2columns-right{
        flex-basis: 100%;
        .object-card {
            width: 45%;
        }
    }
  }
}
@media only screen and ( max-width: 900px ) {
  .blck-shop-section {
    flex-flow: row wrap;
  }
}