$header-color: inherit;
$main-color:white;
$footer-color: #bdd5d4;
$topheight:29px;
$maxwdsite:1330px;
* {
  margin: 0;
  box-sizing: border-box;
}
.button-shop-now{
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  display: inline;
  font-size: 14px;
  line-height: 1.5;
  background-color: #232323;
  color: #fff;
  padding: 15px 40px;
  text-transform: capitalize;
}
.button-shop-now:hover{
  background: #303030;
}
.flex-block-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-block-center-just{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.flex-block-column{
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
.flex-block-column-space-around-flex-end{
  justify-content: space-around;
  align-items: flex-end;
}
.flex-block-column-space-between-flex-end{
  display:flex;
  justify-content: space-between;
}
.flex-block-column-flex-end{
  align-items: flex-end;
}
.flex-block-right{
  justify-content: flex-end;
}
.flex-block-flex-start{
  justify-content: flex-start;
}
body {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  align-items: center;

  header {
    position: relative;
    height: auto;
    width: 100%;
    background-color: $header-color;
    display: flex;
    flex-flow: column;
    align-items: center;
    >label{
      width: 100%;
    }
    #black-header-line{
      display: none;
    }
    #black-header-line:checked+div{
      display:none;
    }
    .black-line-block{
      position: relative;
      height:auto;
      padding: 5px;
      background: black;
      color:white;
      justify-content: center;
      p{
        padding: 0 10px;
        font-family: Avenir Next;
      }
      a{
        color:white;
        font-family: Avenir Next;
      }
      img{
        position: absolute;
        top: 6px;
        right: 10px;
        width: 15px;
      }
      img:hover{
        cursor: pointer;
        transform: scale(1.4);
      }
    }
    .header-line2-block{
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      &-top{
        width:100%;
        display: grid;
        grid-template-rows:60px;
        grid-template-columns: 1fr 205px 1fr;
        align-items: stretch;
        height: 100%;
        span{
          font-family: Avenir Next;
          padding: 0 0 0 20px;
          font-size: 13px;
          width:105px ;
        }
        p{
          font-family: "Arial Black";
          font-size: 33px;
          font-weight: 800;
        }
        div{
          font-size: 13px;
          form{
            width: 185px;
            .form-input{
              width: 150px;
              height: 34px;
              padding-left: 10px;
              outline: none;
              border: none;
              border-bottom: 1px solid black;
              background: white;
              color: #9E9C9C;
            }
            button {
              height: 34px;
              width: 34px;
              cursor: pointer;
              border: none;
              border-bottom: 1px solid black;
              background: white;
              color: #9E9C9C;
              img{
                width: 27px;
                height: 28px;
              }
            }
          }
          a{
            font-family: Avenir Next;
            padding: 0 10px;
            text-decoration:none;
            color: black;
            width: 88px;
            height: 100%;
          }
 /*________________SIGN IN______________________________*/
          .drop-down-menu{
            color:black;
            width: 75px;
            height: 100%;
            cursor: pointer;
            padding: 0px 10px;
          }
          .drop-down-menu:hover>.down-menu {
            display: flex;
          }
          .down-menu {
            z-index: 2000;
            display: none;
            position: absolute;
            right: 0;
            top:76px;
            width: 180px;
            height: 180px;
            background: white;
            border: 1px solid #dad8d8;
            box-shadow: 0px 0px 5px 0px #dcd9d9;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            list-style-type: none;
            padding: 0 20px 0 20px;
            li {
              font-family: Avenir Next;
              padding: 0 14px 0 0;
              color: gray;
            }
            li:hover{
              color:red;
            }
            .div-line {
              width: 100%;
              height: 1px;
              border: 1px solid grey
            }

          }
          .block-logo-busket{
            width: 45px;
            height: 100%;
            padding: 0 10px 0 0;
            &-img{
              width: 26px;
              height: 29px;
            }
            &-img:hover{
              cursor: pointer;}
          }
        }
      }
      &-bottom{
        height: 30px;
        justify-content: center;
        list-style-type:none;
        width: 100%;
        position: relative;
        .li-nav-menu{
          font-family:Avenir Next ;
          padding: 0 14px;
          cursor: pointer;
          height: 100%;
        }
        .li-nav-decoration{

          a:first-child {
            padding-top: 25px;
            font-weight:900;
          }
          a {
            color: #232323;
            font-family: Avenir Next;
            font-size: 10px;
            text-decoration: none;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-align: right;
            padding-right: 32px;
            padding-bottom: 15px;
          }
          .a-block-after::before{
            content:"New";
            position: relative;
            top:-10px;
            color:red;
            font-size: 8px
          }
        }

        /* ______________________________________Upper MENU_______First block________ */
        .li-block1-New1 {
          opacity: 0;
          background: white;
          position: absolute;
          top: $topheight;
          left:0;
          right: 0;
          transition: all 0.5s ease;
          visibility: hidden;
          z-index: 100;
          nav {
            .ahoverred:hover {
              color: red;
            }
          }
        }
        .li-block1:hover{
          border-bottom: gray solid 2px;
        }
        .li-block1:hover>.li-block1-New1{
          opacity: 1;
          visibility: visible;
        }
        .li-block1-New1-img {
          padding: 25px 10px;
        }
        .li-block2-Clothing {
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: $topheight;
          left:0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100;
          nav {
            .ahoverred:hover {
              color: red;
            }
          }
        }
        .li-block2:hover{
          border-bottom: gray solid 2px;
        }
        .li-block2:hover>.li-block2-Clothing{
          opacity: 1;
          visibility: visible;
        }
        .li-block2-Clothing3 {
          padding: 25px 12px 0 12px;
        }
 /*---------------------Block3-----------------------*/
        .li-block3:hover{
          border-bottom: gray solid 2px;
        }
        .li-block3:hover>.li-block3-Pants{
          opacity: 1;
          visibility: visible;
        }
        .li-block3-Pants{
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: $topheight;
          left:0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100;
          nav {
            .ahoverred:hover {
              color: red;
            }
          }
        }
        .li-block3-Pants3 {
          padding: 25px 12px 0 12px;
        }
/*---------------------Block4-----------------------*/
        .li-block4:hover{
          border-bottom: gray solid 2px;
        }
        .li-block4:hover>.li-block4-Shirts{
          opacity: 1;
          visibility: visible;
        }
        .li-block4-Shirts{
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: $topheight;
          left:0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100;
          nav {
            .ahoverred:hover {
              color: red;
            }
          }
        }
        .li-block4-Shirts3 {
          padding: 25px 12px 0 12px;
        }
  /*---------------------Block5-----------------------*/
        .li-block5:hover{
          border-bottom: gray solid 2px;
        }
        .li-block5:hover>.li-block5-Sweaters-Lounge{
          opacity: 1;
          visibility: visible;
        }
        .li-block5-Sweaters-Lounge{
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: $topheight;
          left:0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100;
          nav {
            .ahoverred:hover {
              color: red;
            }
          }
        }
        .li-block5-Sweaters-Lounge3 {
          padding: 25px 12px 0 12px;
        }
  /*---------------------Block6-----------------------*/
        .li-block6:hover{
          border-bottom: gray solid 2px;
        }
        .li-block6:hover>.li-block6-uterwear-Vests{
          opacity: 1;
          visibility: visible;
        }
        .li-block6-uterwear-Vests{
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: $topheight;
          left:0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100;
          nav {
            .ahoverred:hover {
              color: red;
            }
          }
        }
        .li-block6-uterwear-Vests3 {
          padding: 25px 12px 0 12px;
        }
  /*---------------------Block7-----------------------*/
        .li-block7:hover{
          border-bottom: gray solid 2px;
        }
        .li-block7:hover>.li-block7-Golf{
          opacity: 1;
          visibility: visible;
        }
        .li-block7-Golf{
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: $topheight;
          left:0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100;
          nav {
            .ahoverred:hover {
              color: red;
            }
          }
        }
        .li-block7-Golf3 {
          padding: 25px 12px 0 12px;
        }
  /*---------------------Block8-----------------------*/
        .li-block8:hover{
          border-bottom: gray solid 2px;
        }
        .li-block8:hover>.li-block8-Sale{
          opacity: 1;
          visibility: visible;
        }
        .li-block8-Sale{
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: $topheight;
          left:0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100;
          nav {
            .ahoverred:hover {
              color: red;
            }
          }
        }
        .li-block8-Sale3{
          padding: 25px 12px 0 12px;
        }
        }
      }
/*======FOR MINI DISPLAY===========*/
    .mini-header-navigation{
      display: none;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 50px;
      #burgermenu{
        display: none;
      }
      #burgermenu:checked~.burgermenu-leftblock{
        display: flex;
      }
      .burgermenu-leftblock{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 0;
        width: 100%;
        z-index: 2000;
        background: whitesmoke;
        .burgermenu-leftblock-header{
          width: 100%;
          height: 60px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .burgermenu-leftblock-header-searchblock {
           display: flex;
           flex-direction: row;
           justify-content: start;
           align-items: center;
           img {
             width: 20px;
             height: 20px;
             margin: 0 10px;
           }
           .cl-input-without-border{
             border: none;
             outline: none;
             background: whitesmoke;
           }
         }
          .burgermenu-leftblock-header-closeblock{
            width:70px;
            height: 100%;
            border-left: 1px solid gray;
            display: flex;
            justify-content: center;
            img{
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
        }
        .line-block-grey{
          width: 100%;
          height: 0.5px;
          border: 0.5px solid gainsboro;
        }
        .flex-bl-for-ateg {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .inner-block-img-text {
            width: auto;
            display: flex;
            flex-direction: row;
            margin: 5px 7px;
            align-items: center;
            .circle-img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin: 0 5px;
            }
            p {
              width: auto;
              height: 2em;
              text-align: center;
              font-family: "Arial";
              font-size: 14px;
              margin: 0 0 0 10px;
            }
          }
          .bl-img-strelka {
            width: 18px;
          }
        }
        .a-block-footer{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 115px ;
          background: #c9c9c9;
          text-decoration: none;
          padding: 10px 0 0 10px;
          .p-text-footer{
            padding: 5px;
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            color:black;
          }
        }
      }
      .burger-with-search {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin:0 20px;
        .burger-line {
          width: 30px;
          height: 1px;
          border: 1px solid black;
          margin: 3px;
          background: black;
        }
        img {
          width: 20px;
          height: 20px;
          margin: 0 10px;
        }
      }
      p{
        font-family: "Arial Black";
        font-size: 33px;
        font-weight: 800;
      }
      div{
        font-size: 13px;
        /*________________SIGN IN______________________________*/
        .drop-down-menu{
          color:black;
          width: 75px;
          height: 100%;
          cursor: pointer;
          padding: 0px 10px;
        }
        .block-logo-busket{
          width: 45px;
          height: 100%;
          padding: 0 10px 0 0;
          &-img{
            width: 26px;
            height: 29px;
          }
          &-img:hover{
            cursor: pointer;}
        }
      }
    }
/*======FOR MINI DISPLAY CIRCLE LOGO===========*/
    .mini-header-navigation-circlel-logo{
      position: relative;
      display: none;
      flex-direction: column;
      width: 100%;
      height: 80px;
      border-top: 2px solid #bfbebe;
      .line-Upblock-grey{
        position: absolute;
        top:-2px;
        width: 85%;
        height: 1px;
        border: 1px solid black;
      }
      .inner-block-img-text-main{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
      }
      .inner-block-img-text {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 5px 7px;
        .circle-img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        p:nth-child(8){
          width: 63px;
        }
        p{
          width: 100%;
          text-align: center;
          font-family: "Arial";
          font-size: 14px;
        }
      }
    }
    @media only screen and ( max-width: 1000px ){
      .header-line2-block{
        display: none;
        visibility: hidden;
        position: absolute;
      }
      .mini-header-navigation{
        display: flex;
      }
    }
    @media only screen and ( max-width: 600px ){
      .mini-header-navigation-circlel-logo{
        display: flex;
      }
    }
  }
  main {
    position: relative;

    background-color: $main-color;
    display: flex;
    flex-flow: column;
    /*------Block with Big Picture--------------------*/
    .block-newarrivel1 {
      max-width: 1300px;
      height: auto;
      position: relative;

      img {
        width: 100%;
      }
    }

    .block-newarrivel {
      max-width: 1300px;
      height: auto;
      position: relative;
      width: 100%;

      .img-desktop {
        width: 100%;
      }

      .img-mobile {
        display: none;
        position: absolute;
      }
    }

    .mainimg-text-right {
      position: absolute;
      right: 20%;
      top: 8%;
      width: auto;
      height: auto;

      & > a {
        font-family: Arial;
        font-size: 24px;
        padding: 0px;
        text-decoration: none;
        color: black;
      }

      & > a:nth-child(2) {
        margin: 5px;
        height: 53px;
        font-size: 54px;
        padding-top: 5px;
        padding-bottom: 0;
        letter-spacing: 1px;
        font-weight: 100;
      }

      & > a:nth-child(3) {
        margin: 5px;
        height: 70px;
        font-size: 62px;
        padding-top: 0;
        padding-bottom: 10px;
        letter-spacing: 1px;
        font-weight: 100;
      }

      & > a:nth-child(5) {
        margin: 4px;
      }

      .button-shop-now {
        position: absolute;
        right: 35%;
        bottom: -31%;
        width: 110px;
        height: 50px;
        background: #211f1f;
        justify-content: center;

        a {
          font-family: Avenir Next;
          text-decoration: none;
          color: white;
          text-align: center;
        }
      }

      .button-shop-now:hover {
        background: #686262;
      }
    }

    .div-text-under-mainlogo {
      width: 100%;
      max-width: 1250px;
      height: 40px;
      font-size: 24px;
      margin: 30px 0 10px;
    }

    .scale {
      display: inline-block;
      overflow: hidden;
    }

    .stl-padding {
      padding: 0 30px 0 5px;
    }

    .arrow-svg-img {
      width: 30px;
      position: relative;
      transition: 0.8s;
    }

    .arrow-svg {
      padding: 10px 0 10px;
      cursor: pointer;
    }

    .arrow-svg:hover > div > div > img {
      transform: translate(15px);
    }

    .grid-first-block {
      position: inherit;
      max-width: 1250px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 89px;
      background: white;
      margin: 0 0 40px;
      cursor: pointer;

      .grid-first-block-img1 {
        width: 100%;
        transition: 1s;
        display: block;
        background: #bdd5d4;
      }

      .grid-first-block-img1:hover {
        transform: scale(1.1);
      }

      .grid-first-block-txt1 {
        font-family: Avenir Next;
      }

      .grid-first-block-img2 {
        width: 100%;
        transition: 1s;
        display: block;
        background: #bdd5d4;
      }

      .grid-first-block-img2:hover {
        transform: scale(1.1);
      }

      .grid-first-block-txt2 {
        font-family: Avenir Next;
      }
    }

    .grid-second-block {
      position: inherit;
      max-width: 1250px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      background: white;
      margin: 0 0 40px;
      cursor: pointer;

      .second-block-with-imgtxt {
        position: relative;

        .grid-second-block-img {
          position: relative;
          width: 100%;
          background: #bdd5d4;
        }

        .grid-second-block-img-mobile {
          display: none;
          position: absolute;
          width: 100%;
          background: #bdd5d4;
        }

        div {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          height: 106px;
          top: 32%;
          left: 0;
          right: 0;
          color: white;
          max-width: 700px;

          p {
            font-size: 62px;
            font-weight: 100;
            font-family: Sangbleu Kingdom;
          }

          a {
            color: white;
            text-transform: none;
          }
        }
      }
    }

/*--------------------------ABOUT.HtML------------------START*/
    .bl-img-1 {
      display: block;
      width: 100%;
    }
    .bl-img-2-with-txt {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .bl-img-2-with-txt-img {
        display: block;
        width: 1%;
        flex-basis: 50%;
      }

      .bl-img-2-with-txt-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-basis: 50%;
        background-color: #f4f4f4;

        p:nth-child(1) {
          display: block;
          font-size: 1.5em;
          margin-block-start: 0.83em;
          margin-block-end: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
        }

        p:nth-child(2) {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.5;
          margin-left: 70px;
          margin-right: 70px;
        }
      }
    }
    .blck-text-in-image-center {
      position: relative;
      width: 100%;
    }
    .blck-text-in-image-center-txt {
      width: 40%;
      color: white;
      font-size: 42px;
      line-height: 1.2;
      font-family: Avenir Next;
      font-weight: 900;
      position: absolute;
      top: 27%;
      left: 33%;
    }
    h2 {
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    p {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }


/*--------------------------ABOUT.HtML------------------END*/

    @media only screen and ( max-width: 850px ) {
      .block-newarrivel{
        .img-desktop {
          display: none;
          position: absolute;
        }
        .img-mobile{
          display: block;
          position: relative;
          width: 100%;
        }
      }
      .mainimg-text-right{
        a {
          font-size: 18px;
        }
      }
      .grid-second-block{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        .second-block-with-imgtxt {
          .grid-second-block-img{
            display: none;
            position: absolute;
          }
          .grid-second-block-img-mobile {
            display: block;
            position: relative;
          }
        }
      }
      .blck-text-in-image-center-txt{
        color:gray;
        font-size: 24px;
        width: 60%;
        left: 15%;
      }
      .bl-img-2-with-txt{
        flex-direction: column;
        .bl-img-2-with-txt-img{
          width:100%;
        }
      }
    }
  }

/*----------------------FOOTER------------------------*/
    .main-footer-class-ROW-columnInMobile {
      display: flex;
      flex-direction: row;
      flex-basis: 25% auto;
      border-top: 1px solid transparent;
      padding: 48px 32px;
      overflow: hidden;
      background-color: #232323;
      width: 100%;
      a {
        text-decoration: none;
        color: white;
        font-family: Arial;
      }
      p {
        color: white;
        font-size: 16px;
        font-family: Arial;
      }
      .footer-bl-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 16px;
        width: 35%;
        .footer-bl-logo-insta-twitter-img-size {
          width: 25px;
          height: 25px;
          margin: 5px;
        }
        .footer-bl-logo-GUIDEBOOK {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          width: 100%;
          margin-left: 10px;
          img{
            margin-right: 20px;
          }
          p{
            margin: 10px 0;
          }
          p:nth-child(1){
            font-size: 20px;
          }
          p:nth-child(2){
            font-size: 12px;
            color: #dcd9d9;
          }
          a{
            text-decoration: underline;
          }
        }
      }
      .flex-block-columns-txt{
        display: flex;
        flex-direction: row;
        width: 500px;
        justify-content: flex-start;
        .flex-block-columns-1{
          align-items: flex-start;
          a{
            margin: 7px 0;
          }
        }
        .flex-block-columns-2{
          align-items: flex-start;
          a{
            margin: 7px 0;
          }
        }
      }
      .footer-bl-logo-form{
        display: flex;
        flex-direction: column;
        align-items: start;
        color: white;
        width: 45%;
        div:nth-child(1){
          padding: 7px 0;
        }
        div:nth-child(2) {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.5;
          margin: 0 0 16px;
          white-space: pre-line;
          color: #bdb6b6;
        }
        div:nth-child(3){
          form {
            width: 260px;
            .form-input{
              width: 200px;
              height: 34px;
              padding-left: 10px;
              outline: none;
              border: none;
              border-bottom: 1px solid black;
              background: white;
              color: #9E9C9C;
            }
            .button-with-plus{
              background: gray;
              width: 34px;
              height: 34px;
              margin: 0;
              cursor: pointer;
              border-bottom: 1px solid black;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              >p{
                font-size: 30px;
              }
            }
            .button-with-plus:hover{
              background: red;
            }
          }
        }
        div:nth-child(4){
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.5;
          text-align: center;
          padding: 16px 0;
          color:#bdb6b6;
          a{
            color:#bdb6b6;
            text-decoration: underline;
          }
        }
      }
    }
  @media only screen and ( max-width: 850px ) {
    .main-footer-class-ROW-columnInMobile{
      flex-direction: column;
      .footer-bl-logo{
        width: 100%;
      }
      .flex-block-columns-txt {
        width: 100%;
        justify-content: center;
      }
      .footer-bl-logo-form{
        width: 100%;
        div:nth-child(3){
          width: 100%;
          form{
            width: 100%;
            .form-input{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
