*{
	margin:0;
}
body{
	width:100vw;
	height:100vh;
}
.back-img{
	background-image:url("sky.jpg");
	background-repeat: no-repeat;
	background-size:100%;
}
.stage-1{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:55%;
	background-color:black;
	opacity:0.7;
	z-index:100;
}
.stage-2{
	position:absolute;
	top:45%;
	left:0;
	right:0;
	bottom:0;
	z-index:200;
	background:url("sea.jpg");
	background-size:100%;
}
.img-sun{
	position:absolute;
	bottom:250px;
	right:30px;
	width:80px;
	height:80px;
	z-index:200;
}
.img-sun-anime {    
    animation:draw-sun 10s linear;	
}
.back-img-anime{
	animation:draw-sky 10s linear;
}
@keyframes draw-sky {
	0%		{ opacity:0.8;}
	10%		{ opacity:0.7;}
	20%		{ opacity:0.4;}
	30%		{ opacity:0.1;}
	40%		{ opacity:0.1;}
	50%		{ opacity:0.1;}
	60%		{ opacity:0.1;}
	70%		{ opacity:0.3;}
	80%		{ opacity:0.4;}
	90%		{ opacity:0.6;}
	100%	{ opacity:0.8;}
}
@keyframes draw-sun {
	0%		{ transform:translate(-1200px,0px) rotate(50deg);}
	20%   	{ transform::translate(-875px,-35px) rotate(100deg);}
	30%   	{ transform:translate(-750px,-70px) rotate(150deg);}
    40%   	{ transform:translate(-625px,-105px) rotate(200deg);}
	50%   	{ transform:translate(-505px,-120px) rotate(250deg);}
	60%   	{ transform:translate(-380px,-105px) rotate(300deg);}
	70%   	{ transform:translate(-255px,-70px) rotate(320deg);}
	80%   	{ transform:translate(-130px,-35px) rotate(340deg);}
	100%	 	{ transform:translate(0px,0px) rotate(360deg);}
}


