* {
  margin: 0;
  box-sizing: border-box; }

.button-shop-now {
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  display: inline;
  font-size: 14px;
  line-height: 1.5;
  background-color: #232323;
  color: #fff;
  padding: 15px 40px;
  text-transform: capitalize; }

.button-shop-now:hover {
  background: #303030; }

.flex-block-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-block-center-just {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

.flex-block-column {
  display: flex;
  align-items: center;
  flex-flow: column nowrap; }

.flex-block-column-space-around-flex-end {
  justify-content: space-around;
  align-items: flex-end; }

.flex-block-column-space-between-flex-end {
  display: flex;
  justify-content: space-between; }

.flex-block-column-flex-end {
  align-items: flex-end; }

.flex-block-right {
  justify-content: flex-end; }

.flex-block-flex-start {
  justify-content: flex-start; }

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  /*----------------------FOOTER------------------------*/ }
  body header {
    position: relative;
    height: auto;
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-flow: column;
    align-items: center;
    /*======FOR MINI DISPLAY===========*/
    /*======FOR MINI DISPLAY CIRCLE LOGO===========*/ }
    body header > label {
      width: 100%; }
    body header #black-header-line {
      display: none; }
    body header #black-header-line:checked + div {
      display: none; }
    body header .black-line-block {
      position: relative;
      height: auto;
      padding: 5px;
      background: black;
      color: white;
      justify-content: center; }
      body header .black-line-block p {
        padding: 0 10px;
        font-family: Avenir Next; }
      body header .black-line-block a {
        color: white;
        font-family: Avenir Next; }
      body header .black-line-block img {
        position: absolute;
        top: 6px;
        right: 10px;
        width: 15px; }
      body header .black-line-block img:hover {
        cursor: pointer;
        transform: scale(1.4); }
    body header .header-line2-block {
      display: flex;
      flex-flow: column nowrap;
      width: 100%; }
      body header .header-line2-block-top {
        width: 100%;
        display: grid;
        grid-template-rows: 60px;
        grid-template-columns: 1fr 205px 1fr;
        align-items: stretch;
        height: 100%; }
        body header .header-line2-block-top span {
          font-family: Avenir Next;
          padding: 0 0 0 20px;
          font-size: 13px;
          width: 105px; }
        body header .header-line2-block-top p {
          font-family: "Arial Black";
          font-size: 33px;
          font-weight: 800; }
        body header .header-line2-block-top div {
          font-size: 13px;
          /*________________SIGN IN______________________________*/ }
          body header .header-line2-block-top div form {
            width: 185px; }
            body header .header-line2-block-top div form .form-input {
              width: 150px;
              height: 34px;
              padding-left: 10px;
              outline: none;
              border: none;
              border-bottom: 1px solid black;
              background: white;
              color: #9E9C9C; }
            body header .header-line2-block-top div form button {
              height: 34px;
              width: 34px;
              cursor: pointer;
              border: none;
              border-bottom: 1px solid black;
              background: white;
              color: #9E9C9C; }
              body header .header-line2-block-top div form button img {
                width: 27px;
                height: 28px; }
          body header .header-line2-block-top div a {
            font-family: Avenir Next;
            padding: 0 10px;
            text-decoration: none;
            color: black;
            width: 88px;
            height: 100%; }
          body header .header-line2-block-top div .drop-down-menu {
            color: black;
            width: 75px;
            height: 100%;
            cursor: pointer;
            padding: 0px 10px; }
          body header .header-line2-block-top div .drop-down-menu:hover > .down-menu {
            display: flex; }
          body header .header-line2-block-top div .down-menu {
            z-index: 2000;
            display: none;
            position: absolute;
            right: 0;
            top: 76px;
            width: 180px;
            height: 180px;
            background: white;
            border: 1px solid #dad8d8;
            box-shadow: 0px 0px 5px 0px #dcd9d9;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            list-style-type: none;
            padding: 0 20px 0 20px; }
            body header .header-line2-block-top div .down-menu li {
              font-family: Avenir Next;
              padding: 0 14px 0 0;
              color: gray; }
            body header .header-line2-block-top div .down-menu li:hover {
              color: red; }
            body header .header-line2-block-top div .down-menu .div-line {
              width: 100%;
              height: 1px;
              border: 1px solid grey; }
          body header .header-line2-block-top div .block-logo-busket {
            width: 45px;
            height: 100%;
            padding: 0 10px 0 0; }
            body header .header-line2-block-top div .block-logo-busket-img {
              width: 26px;
              height: 29px; }
            body header .header-line2-block-top div .block-logo-busket-img:hover {
              cursor: pointer; }
      body header .header-line2-block-bottom {
        height: 30px;
        justify-content: center;
        list-style-type: none;
        width: 100%;
        position: relative;
        /* ______________________________________Upper MENU_______First block________ */
        /*---------------------Block3-----------------------*/
        /*---------------------Block4-----------------------*/
        /*---------------------Block5-----------------------*/
        /*---------------------Block6-----------------------*/
        /*---------------------Block7-----------------------*/
        /*---------------------Block8-----------------------*/ }
        body header .header-line2-block-bottom .li-nav-menu {
          font-family: Avenir Next;
          padding: 0 14px;
          cursor: pointer;
          height: 100%; }
        body header .header-line2-block-bottom .li-nav-decoration a:first-child {
          padding-top: 25px;
          font-weight: 900; }
        body header .header-line2-block-bottom .li-nav-decoration a {
          color: #232323;
          font-family: Avenir Next;
          font-size: 10px;
          text-decoration: none;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-align: right;
          padding-right: 32px;
          padding-bottom: 15px; }
        body header .header-line2-block-bottom .li-nav-decoration .a-block-after::before {
          content: "New";
          position: relative;
          top: -10px;
          color: red;
          font-size: 8px; }
        body header .header-line2-block-bottom .li-block1-New1 {
          opacity: 0;
          background: white;
          position: absolute;
          top: 29px;
          left: 0;
          right: 0;
          transition: all 0.5s ease;
          visibility: hidden;
          z-index: 100; }
          body header .header-line2-block-bottom .li-block1-New1 nav .ahoverred:hover {
            color: red; }
        body header .header-line2-block-bottom .li-block1:hover {
          border-bottom: gray solid 2px; }
        body header .header-line2-block-bottom .li-block1:hover > .li-block1-New1 {
          opacity: 1;
          visibility: visible; }
        body header .header-line2-block-bottom .li-block1-New1-img {
          padding: 25px 10px; }
        body header .header-line2-block-bottom .li-block2-Clothing {
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: 29px;
          left: 0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100; }
          body header .header-line2-block-bottom .li-block2-Clothing nav .ahoverred:hover {
            color: red; }
        body header .header-line2-block-bottom .li-block2:hover {
          border-bottom: gray solid 2px; }
        body header .header-line2-block-bottom .li-block2:hover > .li-block2-Clothing {
          opacity: 1;
          visibility: visible; }
        body header .header-line2-block-bottom .li-block2-Clothing3 {
          padding: 25px 12px 0 12px; }
        body header .header-line2-block-bottom .li-block3:hover {
          border-bottom: gray solid 2px; }
        body header .header-line2-block-bottom .li-block3:hover > .li-block3-Pants {
          opacity: 1;
          visibility: visible; }
        body header .header-line2-block-bottom .li-block3-Pants {
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: 29px;
          left: 0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100; }
          body header .header-line2-block-bottom .li-block3-Pants nav .ahoverred:hover {
            color: red; }
        body header .header-line2-block-bottom .li-block3-Pants3 {
          padding: 25px 12px 0 12px; }
        body header .header-line2-block-bottom .li-block4:hover {
          border-bottom: gray solid 2px; }
        body header .header-line2-block-bottom .li-block4:hover > .li-block4-Shirts {
          opacity: 1;
          visibility: visible; }
        body header .header-line2-block-bottom .li-block4-Shirts {
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: 29px;
          left: 0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100; }
          body header .header-line2-block-bottom .li-block4-Shirts nav .ahoverred:hover {
            color: red; }
        body header .header-line2-block-bottom .li-block4-Shirts3 {
          padding: 25px 12px 0 12px; }
        body header .header-line2-block-bottom .li-block5:hover {
          border-bottom: gray solid 2px; }
        body header .header-line2-block-bottom .li-block5:hover > .li-block5-Sweaters-Lounge {
          opacity: 1;
          visibility: visible; }
        body header .header-line2-block-bottom .li-block5-Sweaters-Lounge {
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: 29px;
          left: 0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100; }
          body header .header-line2-block-bottom .li-block5-Sweaters-Lounge nav .ahoverred:hover {
            color: red; }
        body header .header-line2-block-bottom .li-block5-Sweaters-Lounge3 {
          padding: 25px 12px 0 12px; }
        body header .header-line2-block-bottom .li-block6:hover {
          border-bottom: gray solid 2px; }
        body header .header-line2-block-bottom .li-block6:hover > .li-block6-uterwear-Vests {
          opacity: 1;
          visibility: visible; }
        body header .header-line2-block-bottom .li-block6-uterwear-Vests {
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: 29px;
          left: 0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100; }
          body header .header-line2-block-bottom .li-block6-uterwear-Vests nav .ahoverred:hover {
            color: red; }
        body header .header-line2-block-bottom .li-block6-uterwear-Vests3 {
          padding: 25px 12px 0 12px; }
        body header .header-line2-block-bottom .li-block7:hover {
          border-bottom: gray solid 2px; }
        body header .header-line2-block-bottom .li-block7:hover > .li-block7-Golf {
          opacity: 1;
          visibility: visible; }
        body header .header-line2-block-bottom .li-block7-Golf {
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: 29px;
          left: 0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100; }
          body header .header-line2-block-bottom .li-block7-Golf nav .ahoverred:hover {
            color: red; }
        body header .header-line2-block-bottom .li-block7-Golf3 {
          padding: 25px 12px 0 12px; }
        body header .header-line2-block-bottom .li-block8:hover {
          border-bottom: gray solid 2px; }
        body header .header-line2-block-bottom .li-block8:hover > .li-block8-Sale {
          opacity: 1;
          visibility: visible; }
        body header .header-line2-block-bottom .li-block8-Sale {
          opacity: 0;
          width: 100%;
          height: 400px;
          background: white;
          position: absolute;
          top: 29px;
          left: 0;
          right: 0;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          z-index: 100; }
          body header .header-line2-block-bottom .li-block8-Sale nav .ahoverred:hover {
            color: red; }
        body header .header-line2-block-bottom .li-block8-Sale3 {
          padding: 25px 12px 0 12px; }
    body header .mini-header-navigation {
      display: none;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 50px; }
      body header .mini-header-navigation #burgermenu {
        display: none; }
      body header .mini-header-navigation #burgermenu:checked ~ .burgermenu-leftblock {
        display: flex; }
      body header .mini-header-navigation .burgermenu-leftblock {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 0;
        width: 100%;
        z-index: 2000;
        background: whitesmoke; }
        body header .mini-header-navigation .burgermenu-leftblock .burgermenu-leftblock-header {
          width: 100%;
          height: 60px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          body header .mini-header-navigation .burgermenu-leftblock .burgermenu-leftblock-header .burgermenu-leftblock-header-searchblock {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center; }
            body header .mini-header-navigation .burgermenu-leftblock .burgermenu-leftblock-header .burgermenu-leftblock-header-searchblock img {
              width: 20px;
              height: 20px;
              margin: 0 10px; }
            body header .mini-header-navigation .burgermenu-leftblock .burgermenu-leftblock-header .burgermenu-leftblock-header-searchblock .cl-input-without-border {
              border: none;
              outline: none;
              background: whitesmoke; }
          body header .mini-header-navigation .burgermenu-leftblock .burgermenu-leftblock-header .burgermenu-leftblock-header-closeblock {
            width: 70px;
            height: 100%;
            border-left: 1px solid gray;
            display: flex;
            justify-content: center; }
            body header .mini-header-navigation .burgermenu-leftblock .burgermenu-leftblock-header .burgermenu-leftblock-header-closeblock img {
              width: 20px;
              height: 20px;
              cursor: pointer; }
        body header .mini-header-navigation .burgermenu-leftblock .line-block-grey {
          width: 100%;
          height: 0.5px;
          border: 0.5px solid gainsboro; }
        body header .mini-header-navigation .burgermenu-leftblock .flex-bl-for-ateg {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          body header .mini-header-navigation .burgermenu-leftblock .flex-bl-for-ateg .inner-block-img-text {
            width: auto;
            display: flex;
            flex-direction: row;
            margin: 5px 7px;
            align-items: center; }
            body header .mini-header-navigation .burgermenu-leftblock .flex-bl-for-ateg .inner-block-img-text .circle-img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin: 0 5px; }
            body header .mini-header-navigation .burgermenu-leftblock .flex-bl-for-ateg .inner-block-img-text p {
              width: auto;
              height: 2em;
              text-align: center;
              font-family: "Arial";
              font-size: 14px;
              margin: 0 0 0 10px; }
          body header .mini-header-navigation .burgermenu-leftblock .flex-bl-for-ateg .bl-img-strelka {
            width: 18px; }
        body header .mini-header-navigation .burgermenu-leftblock .a-block-footer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 115px;
          background: #c9c9c9;
          text-decoration: none;
          padding: 10px 0 0 10px; }
          body header .mini-header-navigation .burgermenu-leftblock .a-block-footer .p-text-footer {
            padding: 5px;
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            color: black; }
      body header .mini-header-navigation .burger-with-search {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin: 0 20px; }
        body header .mini-header-navigation .burger-with-search .burger-line {
          width: 30px;
          height: 1px;
          border: 1px solid black;
          margin: 3px;
          background: black; }
        body header .mini-header-navigation .burger-with-search img {
          width: 20px;
          height: 20px;
          margin: 0 10px; }
      body header .mini-header-navigation p {
        font-family: "Arial Black";
        font-size: 33px;
        font-weight: 800; }
      body header .mini-header-navigation div {
        font-size: 13px;
        /*________________SIGN IN______________________________*/ }
        body header .mini-header-navigation div .drop-down-menu {
          color: black;
          width: 75px;
          height: 100%;
          cursor: pointer;
          padding: 0px 10px; }
        body header .mini-header-navigation div .block-logo-busket {
          width: 45px;
          height: 100%;
          padding: 0 10px 0 0; }
          body header .mini-header-navigation div .block-logo-busket-img {
            width: 26px;
            height: 29px; }
          body header .mini-header-navigation div .block-logo-busket-img:hover {
            cursor: pointer; }
    body header .mini-header-navigation-circlel-logo {
      position: relative;
      display: none;
      flex-direction: column;
      width: 100%;
      height: 80px;
      border-top: 2px solid #bfbebe; }
      body header .mini-header-navigation-circlel-logo .line-Upblock-grey {
        position: absolute;
        top: -2px;
        width: 85%;
        height: 1px;
        border: 1px solid black; }
      body header .mini-header-navigation-circlel-logo .inner-block-img-text-main {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%; }
      body header .mini-header-navigation-circlel-logo .inner-block-img-text {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 5px 7px; }
        body header .mini-header-navigation-circlel-logo .inner-block-img-text .circle-img {
          width: 50px;
          height: 50px;
          border-radius: 50%; }
        body header .mini-header-navigation-circlel-logo .inner-block-img-text p:nth-child(8) {
          width: 63px; }
        body header .mini-header-navigation-circlel-logo .inner-block-img-text p {
          width: 100%;
          text-align: center;
          font-family: "Arial";
          font-size: 14px; }
    @media only screen and (max-width: 1000px) {
      body header .header-line2-block {
        display: none;
        visibility: hidden;
        position: absolute; }
      body header .mini-header-navigation {
        display: flex; } }
    @media only screen and (max-width: 600px) {
      body header .mini-header-navigation-circlel-logo {
        display: flex; } }
  body main {
    position: relative;
    background-color: white;
    display: flex;
    flex-flow: column;
    /*------Block with Big Picture--------------------*/
    /*--------------------------ABOUT.HtML------------------START*/
    /*--------------------------ABOUT.HtML------------------END*/ }
    body main .block-newarrivel1 {
      max-width: 1300px;
      height: auto;
      position: relative; }
      body main .block-newarrivel1 img {
        width: 100%; }
    body main .block-newarrivel {
      max-width: 1300px;
      height: auto;
      position: relative;
      width: 100%; }
      body main .block-newarrivel .img-desktop {
        width: 100%; }
      body main .block-newarrivel .img-mobile {
        display: none;
        position: absolute; }
    body main .mainimg-text-right {
      position: absolute;
      right: 20%;
      top: 8%;
      width: auto;
      height: auto; }
      body main .mainimg-text-right > a {
        font-family: Arial;
        font-size: 24px;
        padding: 0px;
        text-decoration: none;
        color: black; }
      body main .mainimg-text-right > a:nth-child(2) {
        margin: 5px;
        height: 53px;
        font-size: 54px;
        padding-top: 5px;
        padding-bottom: 0;
        letter-spacing: 1px;
        font-weight: 100; }
      body main .mainimg-text-right > a:nth-child(3) {
        margin: 5px;
        height: 70px;
        font-size: 62px;
        padding-top: 0;
        padding-bottom: 10px;
        letter-spacing: 1px;
        font-weight: 100; }
      body main .mainimg-text-right > a:nth-child(5) {
        margin: 4px; }
      body main .mainimg-text-right .button-shop-now {
        position: absolute;
        right: 35%;
        bottom: -31%;
        width: 110px;
        height: 50px;
        background: #211f1f;
        justify-content: center; }
        body main .mainimg-text-right .button-shop-now a {
          font-family: Avenir Next;
          text-decoration: none;
          color: white;
          text-align: center; }
      body main .mainimg-text-right .button-shop-now:hover {
        background: #686262; }
    body main .div-text-under-mainlogo {
      width: 100%;
      max-width: 1250px;
      height: 40px;
      font-size: 24px;
      margin: 30px 0 10px; }
    body main .scale {
      display: inline-block;
      overflow: hidden; }
    body main .stl-padding {
      padding: 0 30px 0 5px; }
    body main .arrow-svg-img {
      width: 30px;
      position: relative;
      transition: 0.8s; }
    body main .arrow-svg {
      padding: 10px 0 10px;
      cursor: pointer; }
    body main .arrow-svg:hover > div > div > img {
      transform: translate(15px); }
    body main .grid-first-block {
      position: inherit;
      max-width: 1250px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 89px;
      background: white;
      margin: 0 0 40px;
      cursor: pointer; }
      body main .grid-first-block .grid-first-block-img1 {
        width: 100%;
        transition: 1s;
        display: block;
        background: #bdd5d4; }
      body main .grid-first-block .grid-first-block-img1:hover {
        transform: scale(1.1); }
      body main .grid-first-block .grid-first-block-txt1 {
        font-family: Avenir Next; }
      body main .grid-first-block .grid-first-block-img2 {
        width: 100%;
        transition: 1s;
        display: block;
        background: #bdd5d4; }
      body main .grid-first-block .grid-first-block-img2:hover {
        transform: scale(1.1); }
      body main .grid-first-block .grid-first-block-txt2 {
        font-family: Avenir Next; }
    body main .grid-second-block {
      position: inherit;
      max-width: 1250px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      background: white;
      margin: 0 0 40px;
      cursor: pointer; }
      body main .grid-second-block .second-block-with-imgtxt {
        position: relative; }
        body main .grid-second-block .second-block-with-imgtxt .grid-second-block-img {
          position: relative;
          width: 100%;
          background: #bdd5d4; }
        body main .grid-second-block .second-block-with-imgtxt .grid-second-block-img-mobile {
          display: none;
          position: absolute;
          width: 100%;
          background: #bdd5d4; }
        body main .grid-second-block .second-block-with-imgtxt div {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          height: 106px;
          top: 32%;
          left: 0;
          right: 0;
          color: white;
          max-width: 700px; }
          body main .grid-second-block .second-block-with-imgtxt div p {
            font-size: 62px;
            font-weight: 100;
            font-family: Sangbleu Kingdom; }
          body main .grid-second-block .second-block-with-imgtxt div a {
            color: white;
            text-transform: none; }
    body main .bl-img-1 {
      display: block;
      width: 100%; }
    body main .bl-img-2-with-txt {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      body main .bl-img-2-with-txt .bl-img-2-with-txt-img {
        display: block;
        width: 1%;
        flex-basis: 50%; }
      body main .bl-img-2-with-txt .bl-img-2-with-txt-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-basis: 50%;
        background-color: #f4f4f4; }
        body main .bl-img-2-with-txt .bl-img-2-with-txt-txt p:nth-child(1) {
          display: block;
          font-size: 1.5em;
          margin-block-start: 0.83em;
          margin-block-end: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold; }
        body main .bl-img-2-with-txt .bl-img-2-with-txt-txt p:nth-child(2) {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.5;
          margin-left: 70px;
          margin-right: 70px; }
    body main .blck-text-in-image-center {
      position: relative;
      width: 100%; }
    body main .blck-text-in-image-center-txt {
      width: 40%;
      color: white;
      font-size: 42px;
      line-height: 1.2;
      font-family: Avenir Next;
      font-weight: 900;
      position: absolute;
      top: 27%;
      left: 33%; }
    body main h2 {
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold; }
    body main p {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px; }
    @media only screen and (max-width: 850px) {
      body main .block-newarrivel .img-desktop {
        display: none;
        position: absolute; }
      body main .block-newarrivel .img-mobile {
        display: block;
        position: relative;
        width: 100%; }
      body main .mainimg-text-right a {
        font-size: 18px; }
      body main .grid-second-block {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; }
        body main .grid-second-block .second-block-with-imgtxt .grid-second-block-img {
          display: none;
          position: absolute; }
        body main .grid-second-block .second-block-with-imgtxt .grid-second-block-img-mobile {
          display: block;
          position: relative; }
      body main .blck-text-in-image-center-txt {
        color: gray;
        font-size: 24px;
        width: 60%;
        left: 15%; }
      body main .bl-img-2-with-txt {
        flex-direction: column; }
        body main .bl-img-2-with-txt .bl-img-2-with-txt-img {
          width: 100%; } }
  body .main-footer-class-ROW-columnInMobile {
    display: flex;
    flex-direction: row;
    flex-basis: 25% auto;
    border-top: 1px solid transparent;
    padding: 48px 32px;
    overflow: hidden;
    background-color: #232323;
    width: 100%; }
    body .main-footer-class-ROW-columnInMobile a {
      text-decoration: none;
      color: white;
      font-family: Arial; }
    body .main-footer-class-ROW-columnInMobile p {
      color: white;
      font-size: 16px;
      font-family: Arial; }
    body .main-footer-class-ROW-columnInMobile .footer-bl-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-right: 16px;
      width: 35%; }
      body .main-footer-class-ROW-columnInMobile .footer-bl-logo .footer-bl-logo-insta-twitter-img-size {
        width: 25px;
        height: 25px;
        margin: 5px; }
      body .main-footer-class-ROW-columnInMobile .footer-bl-logo .footer-bl-logo-GUIDEBOOK {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        margin-left: 10px; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo .footer-bl-logo-GUIDEBOOK img {
          margin-right: 20px; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo .footer-bl-logo-GUIDEBOOK p {
          margin: 10px 0; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo .footer-bl-logo-GUIDEBOOK p:nth-child(1) {
          font-size: 20px; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo .footer-bl-logo-GUIDEBOOK p:nth-child(2) {
          font-size: 12px;
          color: #dcd9d9; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo .footer-bl-logo-GUIDEBOOK a {
          text-decoration: underline; }
    body .main-footer-class-ROW-columnInMobile .flex-block-columns-txt {
      display: flex;
      flex-direction: row;
      width: 500px;
      justify-content: flex-start; }
      body .main-footer-class-ROW-columnInMobile .flex-block-columns-txt .flex-block-columns-1 {
        align-items: flex-start; }
        body .main-footer-class-ROW-columnInMobile .flex-block-columns-txt .flex-block-columns-1 a {
          margin: 7px 0; }
      body .main-footer-class-ROW-columnInMobile .flex-block-columns-txt .flex-block-columns-2 {
        align-items: flex-start; }
        body .main-footer-class-ROW-columnInMobile .flex-block-columns-txt .flex-block-columns-2 a {
          margin: 7px 0; }
    body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form {
      display: flex;
      flex-direction: column;
      align-items: start;
      color: white;
      width: 45%; }
      body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(1) {
        padding: 7px 0; }
      body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(2) {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        margin: 0 0 16px;
        white-space: pre-line;
        color: #bdb6b6; }
      body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(3) form {
        width: 260px; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(3) form .form-input {
          width: 200px;
          height: 34px;
          padding-left: 10px;
          outline: none;
          border: none;
          border-bottom: 1px solid black;
          background: white;
          color: #9E9C9C; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(3) form .button-with-plus {
          background: gray;
          width: 34px;
          height: 34px;
          margin: 0;
          cursor: pointer;
          border-bottom: 1px solid black;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center; }
          body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(3) form .button-with-plus > p {
            font-size: 30px; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(3) form .button-with-plus:hover {
          background: red; }
      body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(4) {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        padding: 16px 0;
        color: #bdb6b6; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(4) a {
          color: #bdb6b6;
          text-decoration: underline; }
  @media only screen and (max-width: 850px) {
    body .main-footer-class-ROW-columnInMobile {
      flex-direction: column; }
      body .main-footer-class-ROW-columnInMobile .footer-bl-logo {
        width: 100%; }
      body .main-footer-class-ROW-columnInMobile .flex-block-columns-txt {
        width: 100%;
        justify-content: center; }
      body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form {
        width: 100%; }
        body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(3) {
          width: 100%; }
          body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(3) form {
            width: 100%; }
            body .main-footer-class-ROW-columnInMobile .footer-bl-logo-form div:nth-child(3) form .form-input {
              width: 100%; } }
