* {
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* Block whith contacts viber, telegramm, phone */
.menu-contact{
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  top: 0;
  left: 0;
  z-index: 100;
  width:100%;
  background-color: white;
  /* Block with text Number of Phone */
  .menu-contact-div-phone{
    display: inline-block;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    user-select: none;
    padding: 0 5px;
    outline: none;
  }
}
/* First block in page sticky*/
.hblock-n1{
  position: sticky;
  top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../img/FBbkgd1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  .hblock-n1-bltext {
    width: 60%;
    position: absolute;
    top: 20%;
    right: 1%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    color: #f0dfb1;
    font-size: 70px;
    font-family: fantasy;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    .hblock-n1-bltext-div1{padding: 10px 0;}
    .hblock-n1-bltext-div2{padding: 10px 0;}
  }

}
/* First block in page sticky and hide, change in visivle by JS*/
.hblock-n1-h{
  position: sticky;
  top: 0;
  background: url("../img/FBbkgd4.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: none;
}
/* Second block in page */
.hclock-n2{
  position: relative;
  background-color: rgb(255, 223, 183);
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .hblock-n2-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    ul {
      padding: 20px;
      color: black;
      font-size: 30px;
      font-family: monospace;
      li {
        list-style-type: none;
        text-align: left;
        padding: 10px;
        color: black;
        font-size: 20px;
        font-family: monospace;

      }

      li:before {
        padding: 5px 10px;
        content: url("../img/gal.svg");
      }
    }
  }
  .hblock-n2-right{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    overflow: hidden;
    .hblock-n2-right-slider{
      height: 70%;
    }
  }
}
.hclock-n3 {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  color: black;
  font-size: 20px;
  font-family: monospace;
  li{
    list-style-type: none;
    text-align: left;
  }
  li:before{
    content: url("../img/gal.svg");
  }
  div{
    width: 50%;
    img{
      width: 100%;
    }
  }
  ul{
    text-align: center;
    background-size: 4px;

  }
}
.hblock-n4{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  .hblock-n4-bltext{
    width: 60%;
    position: absolute;
    top: 40%;
    right: 13%;
    margin: 10px;
    color: #f0dfb1;
    font-size: 100px;
    font-family: fantasy;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
.hclock-n5{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  color: black;
  font-size: 20px;
  font-family: monospace;
}