.block-in-center{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100vw;
	height:100vh;
}
.block{
	width:200px;
	height:2em;
	border: 4px double #000;
	border-radius:12px;
}
.block-inside{
	width:50%;
	height:93%;
	background-color:#0f0;
	border-radius:10px 0 0 10px;
	border:1px solid #000;
}
.block-inside-hide{
	display:none;
	background-color:red;
	border-radius: 0 0 10px 10px;
}
.flex-row{
	display:flex;
	flex-direction:row;
}
#push{
	display:none;
}

input:checked>div.block-inside-hide{
	display:flex;
}
	