.phone-but{
    width: 15px;
    padding: 0 5px;
}
a.button5 {
    display: inline-block;
    color: #000;
    font-size: 27px;
    text-decoration: none;
    user-select: none;
    padding: 0 5px;
    outline: none;
    border-radius: 2px;
}
a.button5:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;  /* для больших картинок 0 */
    padding-right: 5px;
    width: 16px;
}
a.button5[data-viber]:before {content: url(http://favicon.yandex.net/favicon/viber.com);}
a.button5[data-telegram]:before {content: url(../img/Telegram_2019_Logo.svg);}
a.button5[data-phone]:before {content: url(../img/phone.svg);}
a.button5:hover {
    background: linear-gradient(#ffffff, #fffbfb);
    box-shadow:
            inset rgba(0,0,0,.5) 0 -1px 1px,
            inset rgba(0,0,0,.2) 0 1px,
            inset #fff 0 2px,
            rgba(0,0,0,.2) 0 1px 1px;
}
a.button5:active {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
    box-shadow:
            inset rgba(0,0,0,.8) 0 1px 2px,
            inset rgba(0,0,0,.05) 0 -1px 0,
            #fff 0 1px 1px;
}